<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ curso }} - {{ nome() }}</p>
        <hr>
        <p>Data Binding</p>
        <a v-bind:href="link" target="_blank">VueJS</a>
        <hr>
        <p>Diretiva</p>
        <p>Profissao: <span v-text="profissao"></span></p>
        <hr>
        <p>V-once</p>
        <p v-once>Nome: {{ nomeCompleto }}</p>   
        <p>Nome: {{ getSobrenome() }}</p>
        <hr>
        <p>HTML puro</p>
        <p>{{ texto }}</p>
        <p v-html="texto"></p>
        <hr>
        <p>Manipulando eventos</p>
        <button @click="incrementar">Clique</button>
        <p>Botão clicado {{ cliques }} vezes</p>
        <!-- <p v-on:mousemove="atualizarCoordenadas">Coordenadas x: {{ x }} e {{ y }}</p> -->
        <hr>
    </div>
    <script>
        new Vue({
            el:'#app',
            data: {
                curso: 'VueJS',
                link: 'https://vuejs.org',
                profissao: 'Front end Developer',
                nomeCompleto: 'Alexandre de Souza Soares',
                texto: '<strong style="color: red;">Lorem ipsun</strong>',
                cliques: 0,
                // x: 0,
                // y: 0
            },
            methods: {
                nome: () => {
                    return 'Alexandre de Souza'
                },
                getSobrenome: function() {
                    this.nomeCompleto = 'Soares';
                    return this.nomeCompleto;
                },
                incrementar: function(event) {
                    return this.cliques++;
                },
                // atualizarCoordenadas: function(event) {
                //     this.x = event.ClientX;
                //     this.y = event.ClientY;
                // }
            }
        })
    </script>
</body>
</html>